<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include 'layout_head' %}
  <body class="preload">
    <div class="loader"></div>
    <div class="wrapper">
      {% include 'nav' %}

      {{content_for_layout}}
    </div>

    {% include 'footer' %}
    <script type="text/javascript" src="{{ config.javascript }}"></script>
  </body>
</html>
